[Unit]
Description=raspberry pi fan service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python /opt/raspfan/showTemp.py

[Install]
WantedBy=multi-user.target
